.wrapper {
    margin-top: 64px;
    margin-bottom: 32px;
}
.Title {
    font-size: 40px;
    background: linear-gradient(270deg, #7E5AF0 10%, #62D1EA 53%, #2AB67D 94.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // font-size: 110px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 8px;
    margin-left: -6px;
    text-align: center;
}
.content {
    padding: 0 16px;
    max-width: 1232px;
    margin: 0 auto;
    height: 100%;
    ul li {
        margin-left: 20px;
        padding: 8px 0;
        font-size: 32px;
    }
}

@media (max-width: 1000px) {
    .wrapper {
        margin-top: 64px;
    }
    .Title {
        font-size: 24px;
    }
}
@media (max-width: 750px) {
    .wrapper {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .title {
        text-align: center;
    }
    .Title {
        font-size: 16px;
    }
    .content ul li {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .wrapper {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}