.wrapper {
    margin-top: 50px;
}
.content {
    padding: 0 16px;
    max-width: 1232px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.mainContent {
    position: relative;
    margin-top: 32px;
    display: flex;
}
.buttonContent {
    margin-top: 90px;
    display: flex;
    gap: 60px;
}
.infoText {
    max-width: 746px;
    font-size: 32px;
}

.buttonToSite,
.buttonToGit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

.buttonToSite {
    background-color: #5D6AFB;
    &:hover {
        background-color: transparent;
        border: 2px solid #5D6AFB;
    }
}
.buttonToGit {
    background-color: transparent;
    border: 2px solid #5D6AFB;
    &:hover {
        background-color: #5D6AFB;
    }
}

@media (max-width: 1700px) {
    .infoText {
        max-width: 500px;
        font-size: 24px;
    }
}
@media (max-width: 1000px) {
    .infoText {
        max-width: 400px;
        font-size: 16px;
    }
    .buttonContent {
        margin-top: 45px;
        gap: 20px;
    }
    .buttonToSite,
    .buttonToGit {
        padding: 10px 30px;
        font-size: 14px;
}
}
@media (max-width: 750px) {
    .mainContent {
        flex-direction: column;
    }
    .infoText {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
    }
    .buttonContent {
        padding-top: 40px;
        max-width: 80%;
        gap: 16px;
        margin: 0 auto;
    }
    .buttonToSite,
    .buttonToGit {
        padding: 10px 0px;
        width: 50%;
}
}

@media (max-width: 750px) {
    .wrapper {
        margin-top: 32px;
    }
}

a {
    text-decoration: none;
}

.r1 {
    position: absolute;
    opacity: 0.6;
    width: 660px;

    left: -600px;
    top: 0;
}