.wrapper {
    margin-top: 128px;
}
.content {
    padding: 0 16px;
    max-width: 1232px;
    margin: 0 auto;
    height: 100%;
}

.subText {
    font-size: 32px;
}

.picture {
    position: relative;
    margin-top: 80px;
    img {
        width: 100%;
    }
}