.wrapper {
    margin-top: 128px;
}
.content {
    padding: 0 16px;
    max-width: 1232px;
    margin: 0 auto;
    height: 100%;
}

.subText {
    font-size: 32px;
}

.picture {
    position: relative;
    margin-top: 80px;
    img {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .subText
    {
        text-align: center;
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .wrapper {
        margin-top: 64px;
    }
}
@media (max-width: 750px) {
    .wrapper {
        margin-top: 32px;
    }
}