.logo {
    background: linear-gradient(270deg, #7E5AF0 5.59%, #62D1EA 51.36%, #2AB67D 93.87%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 8px;
}