.section {
    margin-top: 50px;
    display: flex;
    align-items: center;
    min-height: 90px;
    width: 100%;
    padding: 0 24px;
}

.content {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 1180px;
    width: 100%;
    p {
        font-weight: 500;
        font-size: 14px;
    }
}

.contentBloc {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    p {
        font-weight: 400;
        font-size: 32px;
        text-align: justify;
    }
}

.contentBloc1 {
    max-width: 650px;
}

.buttonBlock {
    display: flex;
    justify-content: center;
    gap: 50px;
    .button1 {
        padding: 30px 50px;
        background-color: #5D6AFB;
        border-radius: 5px;
    }
    .button2 {
        border: 2px solid #5D6AFB;
        padding: 30px 50px;
        border-radius: 5px;
    }
}

.icon {
    width: 500px;
}