* {
  box-sizing: border-box;
  color: #E8E8E8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//FONTS
$fontsizeS: 14px;
$fontsizeM: 24px;
$fontsizeL: 32px;
$fontsizeXL: 36px;