.Baraholka {
    background: linear-gradient(270deg, #7E5AF0 5.59%, #62D1EA 51.36%, #2AB67D 93.87%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: -8px;
}

@media (max-width: 1700px) {
    .Baraholka{
        font-size: 180px;
    }
}
@media (max-width: 1000px) {
    .Baraholka{
        font-size: 120px;
    }
}
@media (max-width: 750px) {
    .Baraholka{
        display: block;
        width: 100%;
        font-size: 80px;
        text-align: center;
    }
}
@media (max-width: 500px) {
    .Baraholka{
        display: block;
        width: 100%;
        font-size: 50px;
        text-align: center;
    }
}