.findFast {
    background: linear-gradient(270deg, #7E5AF0 40%, #62D1EA 53.39%, #2AB67D 94.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 110px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 8px;
    margin-left: -6px;
}

@media (max-width: 1000px) {
    .findFast{
        font-size: 80px;
    }
}
@media (max-width: 750px) {
    .findFast{
        font-size: 60px;
        text-align: center;
    }
}
@media (max-width: 500px) {
    .findFast{
        font-size: 50px;
        text-align: center;
    }
}