.section {
    margin-top: 225px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 90px;
    width: 100%;
    padding: 0 24px;
}

.titleBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 900px;
    p {
        margin: 0;
    }
    .p1 {
        margin-top: 10px;
        font-weight: 400;
        font-size: 32px;
        text-align: justify;
    }
    .p2 {
        font-weight: 800;
        font-size: 58px;
    }
}

.imgBloc {
    position: relative;
}

.img {
    margin-top: 100px;
    width: 100%;
    max-width: 1300px;
}

.man {
    position: absolute;
    bottom: 0;
    left: 45px;
}

.content {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 1180px;
    width: 100%;
    p {
        font-weight: 500;
        font-size: 14px;
    }
}

.contentBloc {
    margin-top: 30px;
    div {
        p, h1{
            text-align: start;
        }
        h1 {
            font-weight: 700;
            font-size: 36px;
            margin: 0;
        }
        p {
            font-weight: 400;
            font-size: 24px;
            text-align: start;
        }
    }
    &1 {
        margin-top: 40px;
        max-width: 750px;
    }
}

.buttonBlock {
    display: flex;
    justify-content: space-around;
    .button1 {
        padding: 30px 50px;
        background-color: #5D6AFB;
        border-radius: 5px;
    }
    .button2 {
        border: 2px solid #5D6AFB;
        padding: 30px 50px;
        border-radius: 5px;
    }
}

.icon {
    width: 500px;
}

///
.logo2 {
    margin-top: 35px;
}